.hiden{
    display: none;
    @media(max-width:900px){
        background-color: black;
        width: 100%;
        z-index: 300;
        position: fixed;
        min-height: 100%;
        i{
            font-size: 2rem;
            color: aliceblue;
        }
        @media(max-width: 768px){
            background-color: black;
            width: 100%;
            z-index: 300;
            position: fixed;
            min-height: 100%;
            i{
                font-size: 2rem;
                color: aliceblue;
            }
        }  
        @media(max-width: 360px){
            background-color: black;
            width: 100%;
            z-index: 300;
            position: fixed;
            min-height: 100%;
            i{
                font-size: 2rem;
                color: aliceblue;
            }
        }
    }
    
}