.projects{
    padding: 1rem 1rem;
    height: 60vh;
     margin-bottom: 2rem;
    // background-color: green;
    @media(max-width:422px){
width: 100%;
    }
    @media(max-width:768px){
        width: 100%; 
        height: auto;
    padding-right: 9rem;
    } 
    
   
    h3{
        font-size: 1.5rem;
        
        color:#ca8a04;
    }
    // .major{
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 1rem;
    //     .details{
    //         display: flex;
    //         // flex-wrap: wrap;
    //         flex-direction: column;
    //         align-items: center;
    //         box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    //         gap: 1rem;
    //         a{
    //             border-bottom: 1px solid wheat;
    //             // padding: .5rem;
    //             color: aliceblue;
         
    //             &:hover{
    //                 border-bottom: 1px solid rgb(235, 232, 232);
    //     color: aqua;
        
    //            }
    //         }
    //         .pics{
    //             margin-top: 1rem;
    //     background: url(images/konga.png);
    //     height: 300px;
    //     width: 400px;
    //     background-size: cover;
    //     @media(max-width:768px){
    //         width: 350px;
    //         background-size: cover; 
    //         // margin-right: 1.7rem;
    //     } 
    //         }
    //         .pic{
    //             background: url(images/mtn.png);
    //             height: 300px;
    //             width: 400px;
    //             background-size: cover; 
    //             @media(max-width:768px){
    //                 width: 350px;
    //                 background-size: cover; 
    //                 // margin-right: 1.7rem;
    //             }   
    //         }
    //         .piccs{
    //             background: url(images/glovo.png);
    //             height: 300px;
    //             width: 700px;
    //             // margin-left: 1.7rem;
    //             background-size: cover; 
    //             background-image: no repeat;
    //             @media(max-width:768px){
    //                 width: 350px;
    //                 background-size: cover; 
    //                 // margin-right: 1.7rem;
    //             } 
    //         }
    //     }
       
    // }
    
    .major{
    // background-color: red;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 30px;
    @media(max-width:900px){
      align-items: start;
      display: flex;
      flex-direction: column;
      gap:.5rem;
      height: 30%;
      @media(max-width:422px){
        display: flex;
      flex-direction: column;
      gap:.5rem;
      height: 30%;
      }
      @media(max-width:360px){
        width: 100%;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        // height: auto;
        // gap:.5rem;
      }

    }
  
    .project-card{
      width: 33%;
      height: 100%;
    //   background-color: blue;
    @media(max-width:360px){
width: 100%;
    }
    
      .project-image{
        width: 100%;
        height: 80%;
        @media(max-width:422px){
          width: 100%;
          padding-right: 2rem;
        }
        @media(max-width:768px){
          width: 200%;
          height: 300px;
          padding: 0;
          object-fit: cover;
              }
      
        @media(max-width:360px){
          width: 100%;
          height: 300px;
          object-fit: cover;
              }
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
          @media(max-width:422px){
            width: 200%;
            // margin-right: 3rem;
          }
          @media(max-width:360px){
            width: 100%;
                }
          
        }
      }
      .kango{
        @media(max-width:360px){
          height: 100px;
        }
      }
      .project-title{
        font-size: 1rem;
        padding: 10px;
      }
    }
    }

    @media(max-width:900px){
        width: 100%; 
        .major{
            display: flex;
            gap: 10px;
            // background-color: red;/
        .project-card{

        }
        }
        @media(max-width:600px){
            // background-color: green;
        }
    } 

}