.services{
  @media(max-width:768px){
    width: 100%; 
} 
h2{
  @media(max-width:362px){
    width: 100%; 
} 
  color: #84cc16;
}
    .services-ideas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 1rem;
        gap: 1rem;
        @media(max-width:768px){
          width: 100%; 
          display: grid;
          grid-template-columns: repeat(1,1fr);
          // padding: 1rem;
          gap: 1rem;
      } 
        
        .card{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            // color: #d9f99d;
            background-color:  #91e71150;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &:hover{
                color: black;
                background-color: whitesmoke;
            }
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          .pic{
            font-size: 4rem;
            display: flex;
            justify-content: center;
            color: #eab308;
           
          }  
        }
    }
}